$primary: #41b883;
$secondary: #83c5be;

body,
html {
    height: 100vh !important;
}

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';